{% extends "base.html" %}
{% block title %} Bosh sahifa {% endblock %}
{% block content %}
{% load static %}

<style>
    .oquv{
        position: relative;
    }
    .oquv::after{
    content: " ";
    height: 80px;
    width:2px;
    background: purple;
    position:absolute;
    right: 20px;
    top: 0;

    }
</style>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="index.html">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="courses.html">Courses</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img width="100%" class="m-0 p-0" height="400" style="object-fit:cover;" src="{{ item.image.url }}"
                     alt="">
            </div>
             </div>
            <div class="row m-0 p-0">
            <div class="col-9 mt-3 shadow">
                <div class="card my-3">
                    <h1 class="card-title text-black pl-4">{{ item.title }}</h1>
                    <p class="text-black pl-4">{{ item.turi }}</p>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 oquv">
                                <h4 class="text-black">O'quvchilarga yordam beradi</h4>
                                <ul>
                                    {% for h in item.helps.all %}
                                        {% if h.help_type == 'pupil' %}
                                            <li>{{ h.text }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-6">
                                <h4 class="text-black">O'qituvchilarga yordam beradi</h4>
                                <ul>
                                    {% for h in item.helps.all %}
                                        {% if h.help_type == 'teacher' %}
                                            <li>{{ h.text }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card p-3 text-black mb-3">
                    <p>{{ item.description }}</p>
                    <hr>
                    {% for i in item.videos.all %}
                    <div class="d-flex justify-content-between">
                        <div class="left">
                            <h2>{{ i.title }}</h2>
                            <h4>Amaliyot qanday ishlaydi</h4>
                            <p>Videoni tomosha qiling va ko'proq ma'lumot olin</p>
                            <small>Davomiyligi: {{ i.duration }}</small>
                        </div>
                        <div class="right">
                            {% if i.video_type == 'url' %}
                            <iframe
                            style="border-radius: 8px;"
                            width="100%"
                            height="180"
                            src="{{ i.embed_url }}"
                            title="{{ i.title }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen>
                        </iframe>
                        {% else %}
                            {% if i.video_file %}
                            <video width="100%" height="180" controls style="border-radius: 8px; background: #000;">
                                <source src="{{ i.video_file.url }}">
                            </video>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% for i in item.sections.all %}
                    <h3>{{ i.title }}</h3>
                    <p>{{ i.content }}</p>
                    <hr>
                    {% endfor %}

                </div>
            </div>
            <div style="height:300px;" class="col-3 mt-3 shadow">
                <div class="card p-2 my-3">
                <h5 class="text-black">Ta'lim Jarayoni</h5>
                    <img src="{% static 'images/siklp.png' %}" alt="">
                </div>
            </div>
            </div>


    </div>
</div>
</div>
{% endblock %}
