{% extends "base.html" %}
{% block title %} Bosh sahifa {% endblock %}
{% block content %}
{% load static %}

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="index.html">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="courses.html">Courses</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img width="100%" class="m-0 p-0" height="400" style="object-fit:cover;" src="{{ item.image.url }}"
                     alt="">
            </div>
            <div class="col-lg-9 mt-3 shadow">
                <div class="card my-3">
                    <h5 class="card-title p-4">{{ item.title }}</h5>
                    <div class="card-body">
                        <p>{{ item.description }}</p>
                        <p class="badge bg-warning ">{{ item.created_at|date:"d M Y"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mt-3 shadow">
                {% for section in item.sections.all %}
                <div class="card my-3">
                    <h5 class="card-title p-4">{{ section.title }}</h5>
                    <div class="card-body">
                        <p>{{ section.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if item.videos.all %}
            <div class="col-lg-9 mt-3 shadow">
                {% for video in item.videos.all %}
                <div class="card d-flex justify-contentcenter my-3">
                    <h5 class="card-title pt-4 px-4">{{ video.title }}</h5>
                    <small style="width:max-content" class="badge bg-warning ml-4"> Davomiyligi: {{ video.duration
                        }}</small>
                    <div class="card-body">
                        <p class="float-right">
                            <iframe width="400" height="315" src=" {{ video.embed_url }}" title="{{ i.title }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-3"></div>
            <br>
            {% if related_items %}
            <h3 class="my-3">Related practices</h3>
            <div class="row">
                        {% for rp in related_items %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <img width="100%" src="{{ rp.to_item.image.url }}" alt="">
                            <h4>{{ rp.to_item.title }}</h4>
                            <p>{{ rp.to_item.description|truncatewords:20 }}</p>
                            <a href="{% url 'inclusive_app:amaliyot_item_detail' rp.to_item.turi.slug rp.to_item.slug %}">View details</a>
                        </div>
                    </div>
                </div>
                        {% endfor %}
            </div>
            {% endif %}


        </div>
    </div>
</div>
</div>
{% endblock %}
