{% extends "base.html" %}
{% block title %} Bosh sahifa {% endblock %}
{% block content %}
{% load static %}

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="index.html">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="courses.html">Courses</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ml-auto align-self-center">
                <h2 class="section-title-underline mb-5">
                    <span>{{ course.title }}</span>
                </h2>
                <p class="mb-5"><strong class="text-black d-block">Davomiyligi:</strong>{{ course.duration }} min</p>
                <ul class="ml-0">
                    {% for modul in course.modules.all %}
                    <li>
                        <h5>{{ modul.title }}</h5>
                        <ul>
                            {% for dars in modul.lessons.all %}
                                <li>
                                    <button class="lesson-btn btn my-2" {% if dars.video %} data-video-url="{{ dars.video.url }}" {% endif %} data-lesson-id="{{ dars.id }}">
                                            ▶ {{ dars.title }}
                                    </button>
                                    <div class="lesson-content" id="content-{{ dars.id }}" style="display: none;">
                                        <p>{{ dars.content|linebreaks }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                        {% if user.is_authenticated and enrolled %}
                            <video id="lessonVideo" controls width="100%">
                                <source id="videoSource" src="" type="video/mp4">
                            </video>
                            <div id="activeLessonContent"></div>
                        {% endif %}
                <p>
                    <a href="{% url 'inclusive_app:index' %}#courseDetail"
                       class="btn btn-primary rounded-0 btn-lg px-5"><i class="icon-arrow-left"></i></a>
                </p>
                {% if enrolled and course_progress == 100 %}
                    {% if quiz_result %}
                        <a href="{% url 'inclusive_app:course_test' course.id %}" class="btn btn-info">Natijani ko‘rish</a>
                    {% else %}
                        <a href="{% url 'inclusive_app:course_test' course.id %}" class="btn btn-primary">Testni boshlash</a>
                    {% endif %}
                {% else %}
                <span class="text-light badge bg-danger">Test yopiq</span>
                {% endif %}

            </div>
            <div class="col-lg-4 mb-4">
                <img width="100%" src="{{ course.image.url }}" alt="">
                {% if user.is_authenticated %}
                {% if not enrolled %}
                <form method="post" action="{% url 'inclusive_app:course_enroll' course.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary mt-3">
                        Kursga yozilish
                    </button>
                </form>
                {% else %}
                {% if enrolled %}
                <h4 class="fs-5 mt-3">Kursdagi jarayon: <span id="progressPercent"> {{ course_progress }}</span>%</h4>
                <div class="progress">
                    <div id="progressBar" class="progress-bar"
                         style="width: {{ course_progress }}%">
                    </div>
                </div>
                {% else %}
                <p>Kursga yozilmagansiz</p>
                {% endif %}
                <span class="badge bg-warning text-light"> Siz allaqachon bu kursga yozilgansiz</span>
                {% endif %}
                {% else %}
                <a href="{% url 'inclusive_app:login_user' %}" class="btn btn-outline-primary mt-3">
                    Kirish va yozilish
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script>
const video = document.getElementById("lessonVideo");
const progressBar = document.getElementById('progressBar');
const progressPercent = document.getElementById('progressPercent');
const source = document.getElementById("videoSource");
const contentBox = document.getElementById("activeLessonContent");

let currentLessonId = null;
let sent = false;
// CONTENT


document.querySelectorAll(".lesson-btn").forEach(btn => {
    btn.addEventListener("click", () => {
        source.src = btn.dataset.videoUrl;
        video.load();

        currentLessonId = btn.dataset.lessonId;
        sent = false;

         const hiddenContent = document.getElementById(
            `content-${currentLessonId}`
        );

        contentBox.innerHTML = hiddenContent
            ? hiddenContent.innerHTML
            : "";

        console.log("ACTIVE LESSON:", currentLessonId, contentBox);
    });
});

video.addEventListener("timeupdate", () => {
    if (!video.duration || sent || !currentLessonId) return;

    const percent = (video.currentTime / video.duration) * 100;
    progressBar.style.width = percent + '%';
    progressPercent.textContent = Math.floor(percent);
    if (percent >= 80) {
        sent = true;
        fetch(`/lesson-complete/${currentLessonId}/`, {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            }
        });
    }
});
</script>



{% endblock %}