{% extends "base.html" %} 
{% block title %} Bosh sahifa {% endblock %}
 {% block content %} 
 {% load static %}

 <div class="site-section">
  <div class="container-fluid">
    <div class="inclusive-ban">
        <h2 class="ban-title">Inklyuziv: Barcha uchun ta'lim</h2>
        <p class="ban-subtitle">Har bir o'quvchining imkoniyatlarini ochib berish</p>
        <p class="ban-subsubtitle">Hech kim etibordan chetda qolmasin</p>
    </div>
    <div class="inclusive-jadval">
        <div class="row">
            <div class="offset-4 col-4"><p class="jadval-text">An'anaviy Ta'lim</p></div>
            <div class="col-4"><p class="jadval-text">Inklyuziv Ta'lim</p></div>
        </div>
        <div class="row">
            <div class="col-2"><p class="jadval-text1">Diqqat markazida</p></div>
            <div class="offset-1 col-4">
                <p class="jadval-text1">O'quvchini tizimga moslashtirish</p>
            </div>
            <div class="col-4">
                <p class="jadval-text1">Tizimni o'quvchining ehtiyojlariga moslashtirish</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2"><p class="jadval-text1">O'qitish uslubi</p></div>
            <div class="offset-1 col-4">
                <p class="jadval-text1">Hammaga bir xil qolipdagi dars</p>
            </div>
            <div class="col-4">
                <p class="jadval-text1">Moslashuvchan va xilma-xil o'qitish strategiyalari</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"><p class="jadval-text1">Muvaffaqiyat mezoni</p></div>
            <div class="offset-1 col-4">
                <p class="jadval-text1">Standartlashtirilgan test natijalari</p>
            </div>
            <div class="col-4">
                <p class="jadval-text1">Harbir o'quvchining shaxsiy salohiyati ochilishi va o'sishi</p>
            </div>
        </div>
    </div>
    <div class="inclusive-rah">
        <h2 class="rahbar-title text-black text-center my-4">Rahbarlik: Inklyuziv madaniyatni shakllantirish</h2>
        <div class="inclusive-rahbar py-5">
        <div class="row">
            <div class="offset-2 text-right pt-2 col-3">
                <h2 class="rah-col-title ">Yo'nalish va Vizyon</h2>
                <p class="rah-col-text">Maktab darajasida barcha uchun ochiq ta'lim falsafasini o'rnatish</p>
            </div>
        </div>
        <div class="row mt-5 py-5">
            <div class="offset-9 pt-4 mt-4 col-3">
                <h2 class="rah-col-title ">Resurslarni taqsimlash</h2>
                <p class="rah-col-text">Zaruriy o'quv qurollari va mutaxassislarni to'g'ri yo'naltirish</p>
            </div>
        </div>
          <div class="row">
            <div class="offset-1 text-right col-3">
                <h2 class="rah-col-title ">O'quvchilarni qo'llab-quvvatlash</h2>
                <p class="rah-col-text">Pedagoglar uchun malaka oshirish va inklyuziv muhit yaratish imkoniyatini berish</p>
            </div>
        </div>
        </div>
    </div>
    <div class="inclusive-muv">
        <div class="row h-100 align-items-center">
            <div class="offset-1 col-2 text-right">
                <h2 class="muv-title text-black">Jamiyat</h2>
                <p class="muv-text">Maktabdan tashqari ijtimoiy moslashuv va qo'llab quvvatlash tarmog'i</p>
            </div>
            <div class="offset-1 col-3 text-center">
                <h2 class="muv-title muv-orta">O'quvchi <br> muvaffaqiyati</h2>
            </div>
            <div class="col-3">
                <div class="muv-blog">
                    <h2 class="muv-title">O'qituvchilar</h2>
                    <p class="muv-text">Ta'lim jarayonining asosiy yetakchilari</p>
                </div>
                <div class="muv-blog">
                    <h2 class="muv-title">Ota-onalar</h2>
                    <p class="muv-text">O'quvchining ehtiyojlari va qiziqishlari bo'yicha eng muhim ma'lumot manbai</p>
                </div>
                <div class="muv-blog">
                    <h2 class="muv-title">Mutaxassislar</h2>
                    <p class="muv-text">Psoxologlar, logopaedlar va maxsus ta'lim o'qituvchilari</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>


 {% endblock %}