{% extends "base.html" %}
{% block title %} Bosh sahifa {% endblock %}
{% block content %}
{% load static %}


<div class="custom-breadcrumns ">
    <div>
    <div class="container border-bottom pb-3">

        <h1 class="text-siyoh pt-5 mt-5 text-center">Malakali Inklyuziv o'qituvchi barcha uchun imkoniyat</h1>
        <h2 class="text-uppercase text-info w-75 mx-auto text-center">Malakangizni 9 yo'nalish bo'yicha oshiring va tasdiqlang</h2>
        <div class="row">
            <div class="col-6 text-center">
                <img src="{% static 'images/kursrasm.png' %}" alt="">
                <p class="text-info h4">Nazariy bilimlar olishni xohlayman</p>
                <a style="font-size: 26px; font-weight: 700;" class="bg-orange rounded text-light p-2" href="{% url 'inclusive_app:courses'%}">O'quv testidan o'ting</a>
            </div>
            <div class="col-6 text-center">
                <img src="{% static 'images/kursrasm2.png' %}" alt="">
                <p class="text-info h4">Bilimim bor, menga sertifikat kerak!</p>
                <a style="font-size: 26px; font-weight: 700;" class="bg-orange rounded text-light p-2" href="">Bevosita imtihonni topshiring</a>
            </div>
        </div>
        </div>
            <div class="container">
                 <h1 class="text-info py-3 text-center text-uppercase">Web platformaning afzalliklari</h1>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:40px; height:40px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">1</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Barcha Nazariy materiallar qulay tarzda jamlangan</p>
                            </li>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:40px; height:40px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">2</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Mashg'ulotlarni istalgan vaqtda o'qish mumkin</p>
                            </li>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:40px; height:40px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">3</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Oddiy va tushunarli tilda bayon etilgan</p>
                            </li>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:40px; height:40px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">4</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Geografik joylashuvidan qat'iy nazar qulay o'rganish</p>
                            </li>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:45px; height:45px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">5</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Barcha kurslar bepul - ortiqcha to'lov talab etilmaydi</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                             <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:45px; height:45px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">6</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Test savollari inklyuziv ta'limga ixtisoslashtirilgan</p>
                            </li>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:40px; height:40px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">7</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Har bir o'qituvchi uchun zarur resurslar mavjud</p>
                            </li>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:40px; height:40px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">8</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Bilimlar xolis va obyektiv baholanadi</p>
                            </li>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:40px; height:40px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">9</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Harbir o'quvchi uchun individual yondashuv</p>
                            </li>
                            <li class="d-flex align-items-center">
                                <p style="font-size: 40px; width:40px; height:40px; border-radius: 50%" class="bg-info d-flex justify-content-center align-items-center text-light">10</p>
                                <p style="font-size: 22px; line-height:1.2;" class="text-black pl-3">Natija imtihondan so'ng darhol chiqadi</p>
                            </li>

                        </ul>
                    </div>
                    <div class="row align-items-end">
                        <div class="col-4">
                            <img src="{% static 'images/idplat.png' %}" alt="">
                            <p style="font-size: 22px" class="text-info m-0">Inklyuziv ta'lim platformasi <small class="text-black">|</small> </p>
                        </div>
                        <div class="col-4">
                            <a style="font-size: 22px;" href="" class="text-info">www.ideaacademy.uz <small class="text-black">|</small></a>
                        </div>
                        <div class="col-4">
                            <img src="{% static 'images/idac.png' %}" alt="">
                            <p style="font-size: 22px" class="text-info m-0">Inklyuziv ta'lim platformasi <small class="text-black">|</small> </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


{% endblock %}