{% extends "base.html" %}
{% block title %} Bosh sahifa {% endblock %}
{% block content %}
{% load static %}


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="row">
                    {% for manba in testlar %}
                <div class="col-lg-3 mt-4">
                    <div style="height: 200px; border-radius: 20px; box-shadow: 0 0 10px 1px rgba(58,12,163, 0.3)" class="card my-3 text-center p-2">
                        <h5 class="card-title text-siyoh">{{ manba.title }}</h5>
                        <small>{{ manba.category }}</small>
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <p class="text-siyoh">O'tish bali: {{ manba.min_percentage }}%</p>
                            <a class="btn bg-siyoh text-light" href="{% url 'inclusive_app:test_detail' manba.id %}" target="_blank">Boshlash</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}